################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/scan_manga/.vs/
/scan_manga/bin/
/scan_manga/obj/
/scan_manga_v.1/obj/
/scan_manga_v.1/.vs/
/scan_manga_v.1/bin/
/scan_manga_v.2/obj/
/scan_manga_v.2/.vs/
/scan_manga_v.2/bin/
/scan_manga_v.3/.vs/
/scan_manga_v.3/bin/
/scan_manga_v.3/obj
/SetupScanManga/Debug/
/SetupScanManga/Release/
/.vs/ProjectEvaluation
/scan_manga/obj/Debug/net6.0-windows/scan_manga.csproj.AssemblyReference.cache
/scan_manga/obj/Debug/net6.0-windows/scan_manga.assets.cache
/scan_manga/obj/project.assets.json
/scan_manga/obj/project.nuget.cache
/scan_manga/obj/scan_manga.csproj.nuget.dgspec.json
/.vs/slnx.sqlite

